body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Main layout container using CSS Grid */
.layout-container {
  display: grid;
  grid-template-columns: 250px 1fr 180px; /* Define the three columns */
  grid-template-rows: auto calc(100vh - 40px); /* Top content takes full width, rest forms 3 columns */
  gap: 20px; /* Fixed gap between rows and columns */
  padding: 20px;
  box-sizing: border-box;
}

/* Top content spans the full width of the grid */
.top-content {
  grid-column: 1 / -1; /* Span all columns */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.top-content-container {
  margin-left: 250px;
  margin-right: 180px;
}

/* Form container takes the middle column */
.form-container {
  grid-column: 2; /* Second column */
  grid-row: 2; /* Second row */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  overflow-y: auto;
  word-wrap: break-word; /* Break long words */
  word-break: break-word; /* Break long words */
  overflow-wrap: break-word; /* Break long words */
}
/* Form styles */
.form-section {
  margin-bottom: 40px;
}

.form-section h3 {
  margin-bottom: 10px;
}

/* Other container used in footer*/
.footer-container {
  max-width: 100%;
  padding: 20px;
  background-color: #fff;
  margin-top: 10px;
  word-wrap: break-word; /* Break long words */
  word-break: break-word; /* Break long words */
  overflow-wrap: break-word; /* Break long words */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.source_code{
  margin-top: 10px;
  display: block;
  text-align: center;
}

/* Side panel in the last column */
.side-panel {
  grid-column: 3; /* Third column */
  grid-row: 2; /* Second row */
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  text-align: center;
  max-height: 250px;
  padding-top: 20px;
}
.side-panel button, .side-panel input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 14px;
    box-sizing: border-box; /* Include padding and border in the element's total width */
}
.side-panel button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}
.side-panel button:hover {
    background-color: #0056b3;
}
input[type='file'] {
    margin-top: 10px;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Break long words */
}

.dropdown {
    position: relative;
    display: inline-block;
    max-width: 800px;
    padding: 20px;
    border-radius: 8px;
}
.bottom-button {
    margin-top: 10px;
    text-align: center;
}

/* Table of Contents */
.toc {
  grid-column: 1; /* First column */
  grid-row: 2; /* Second row */
  background-color: rgba(249, 249, 249, 0.8);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  max-height: calc(100vh - 40px); /* Allow scrolling within viewport height */
  overflow-y: auto;
  box-sizing: border-box;
}

.toc > ul > li {
    margin-left: -20px; /* Indent for the highest-level list items */
    padding-left: 0px;
}
.toc h2 {
  margin-top: 0;
}

.toc-link {
  text-decoration: none;
  color: #007bff;
  display: block;
  margin: 3px 0;
}

.toc-link:hover {
  text-decoration: underline;
}

.nested-toc {
  margin-left: -25px;
  list-style-type: circle;
}

/* Hide nested lists by default */
.toc .nested-toc {
  display: none;
}

/* Class to show nested lists */
.toc .nested-toc.show {
  display: block;
}


/* print styles */
@media print {
  .side-panel, .toc {
    display: none;
  }

  .form-container {
    margin: 0;
    box-shadow: none;
  }
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .layout-container {
    grid-template-columns: 1fr; /* Single column */
    grid-template-rows: auto auto auto auto; /* Stack elements */
  }

  .top-content {
    grid-column: 1; /* Full width */
  }

  .toc,
  .form-container,
  .side-panel {
    grid-column: 1; /* Full width */
    grid-row: auto; /* Stack rows */
  }
}

.fa-external-link, .fa-long-arrow-left {
  color: #2795c8;
  margin-right: 15px;
  margin-left: 1px;
}
